{{ form_start(form) }}
<div>
    {{ form_label(form.title, 'Titre : ') }}
    {{ form_widget(form.title) }}
    <div>
        {{ form_errors(form.title) }}
    </div>
</div>


{{ form_row(form.category, {'label': 'Catégorie : '}) }}

{{ form_row(form.content, {'label': 'Contenu : '}) }}

    <button type='submit'>{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
